<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>	<string>en</string>
	<key>CFBundleExecutable</key>		<string>StudioLiveFW</string>
	<key>CFBundleIdentifier</key>		<string>n12n.presonus-adapter.driver</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key>			<string>StudioLiveFW</string>
	<key>CFBundlePackageType</key>		<string>BNDL</string>
	<key>CFBundleShortVersionString</key>	<string>0.1.0</string>
	<key>CFBundleVersion</key>		<string>1</string>
	<key>LSMinimumSystemVersion</key>	<string>13.0</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>270AF98D-8DBD-45F8-9329-A113184899DE</key>	<string>SLFW_Create</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array><string>270AF98D-8DBD-45F8-9329-A113184899DE</string></array>
	</dict>
	<!-- The driver service is sandboxed. IOFireWireLib talks to the kernel
	     through this user-client class, which is not a "standard" IOKit
	     object, so it has to be declared here (AudioServerPlugIn.h). -->
	<key>AudioServerPlugIn_IOKitUserClients</key>
	<array>
		<string>IOFireWireUserClient</string>
	</array>
</dict>
</plist>
